$color-accent: hsl(241, 99%, 70%);
$color-primary: $color-accent;
$color-secondary: hsl(186, 84%, 74%);
$color-text: white;
$color-dark: #111827;
$color-gunmetal:#120309;
$color-gray: darken(#31304D, 5);
$color-page-bg: darken(#161A30, 5);
$color-configurator: #31304D;
$color-stroke: $color-text;

$layout-header-height: 6rem;
$layout-sider-width: 20rem;
$layout-footer-height: 4rem;

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 976px;
$screen-xl: 1440px;
